:root {
    --blanco: #ffffff;
    --blanco-70: rgba(255, 255, 255,.7);
    --blanco-50: rgba(255, 255, 255,.5);
    --blanco-30: rgba(255, 255, 255,.3);
    --purpura: #2e094d;
    --violeta: #8e1eeb;
    --violetaMid: #8f1eeb77;
    --lila: #a897ff;
    --lila-90: rgba(168, 151, 255, .9);
    --lila-70: rgba(168, 151, 255, .7);
    --lila-30: rgba(168, 151, 255, .3);
    --lila-dark: #715ed0;
    --lima: #ebfc79;
    --rosa: #fd24a8;
    --rosa-70: rgba(253, 36, 168,.7);
    --rosaMid: #fd24a66f;
    --misty: #00000086;
    --shadow-90: rgba(0,0,0,.9);
    --shadow-70: rgba(0,0,0,.7);
    --shadow-50: rgba(0,0,0,.5);
    --shadow-30: rgba(0,0,0,.3);
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--blanco);
  }

  strong {
    font-weight: 700;
  }

  b {
    font-weight: 500;
  }

  .js-scroll {
    transition: opacity 1.8s;
  }

  .upButton {
    z-index: 10;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 550px;
    right: 0;
    left: 0;
    height: 50px;    
    margin: auto auto;
    border: 3px solid var(--violeta);
    border-radius: 9px;
    background-color: var(--violetaMid);
    width: 200px;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    color: var(--blanco);
    text-shadow: 0 0 7px var(--lila);
    text-shadow: 0 0 7px var(--lila);
  }

  #welcome-section {
    height: 100vh;
    background-color: black;
  }

  video {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .7;
  }

  #welcome-logo {
    padding: 0;
    margin: auto;
    margin-top: 10%;
    width: 100vw;
    filter: drop-shadow(1px 1px 1px var(--blanco-50))
            drop-shadow(0 0 3px var(--shadow-30))
            drop-shadow(0 0 7px var(--blanco-70))
            ;
  }

  #info-section, #fecha-section, #pago-section {
    background-color: var(--violeta);
    padding-top: 12px;
    margin-bottom: 0;
  }

  #info-section p, #incluye-section p, #fecha-section p, #pago-section p {
    margin: 0;
    padding: 25px 40px;
    color: var(--blanco);
  }

  #info-section {
    padding-bottom: 20px;
  }

  #info-pregunta, #info-respuesta {
    font-size: 1.5em;
    text-align: start;
  }

  .texto-principal {
    font-size: 1.1em;
    text-align: start;
    line-height: 1.4em;
    font-weight: 300;
  }

  #actividades-section {
    background-color: var(--blanco);
    color: var(--violeta);
    padding-bottom: 40px;
  }

  #actividades-section h2 {
    margin-top: 30px;
    padding: 25px 40px;
  }

  #actividades-section ul {
    margin-top: 0;
    padding: 5px 60px;
  }

  #actividades-section ul li {
    font-size: 1.1em;
    line-height: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  #actividades-section p, #presencial-section p, #bio-section p{
    margin: 0;
    padding: 15px 40px;
    color: var(--violeta);
  }

  #incluye-section {
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: var(--violeta);
    margin-bottom: 0;
  }

  #incluye-section h2, #fecha-section h2, #pago-section h2 {
    padding: 25px 40px;
    color: var(--blanco);
    font-size: 1.6em;
  }

  #incluye-section p {
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #presencial-section h2, #bio-section h2 {
    margin-top: 20px;
    padding: 25px 40px;
    color: var(--violeta);
    font-size: 1.6em;
  }

  #presencial-section {
    padding-bottom: 45px;
  }

  #fecha-section {
    text-align: center;
    padding-bottom: 20px;
  }

  #fecha-section p {
    text-align: start;
  }

  #fecha-section h3 {
    color: var(--blanco);
  }

  .midButton {
    text-decoration: none;
    position: relative;
    left: 0;
    right: 0;
    padding: 10px;
    border: 3px solid var(--rosa);
    border-radius: 9px;
    background-color: var(--rosaMid);
    font-size: 1.6em;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    margin: auto auto;
    color: var(--blanco);
    text-shadow: 0 0 7px var(--lila);
    text-shadow: 0 0 7px var(--lila);
  }

  #lugar {
    font-size: 1.5em;
  }

  #valor {
    padding-top: 18px;
    font-size: 1.8em;
  }

  #nov {
    color: var(--lima);
  }

  #precio {
    background-color: var(--rosa-70);
    padding: 3px 7px;
    border-radius: 7px;
    width: fit-content;
    margin: 20px auto;
  }

  #descuento {
    font-size: 2em;
    color: var(--lima);
  }

  #oferta {
    color: var(--lima);
  }


  #modalidad {
    padding-top: 0;
    margin-top: -30px;
  }

  #cuotas {
    color: var(--lima);
    font-weight: 700;
  }

  #testimonios-section {
    background-color: var(--lila);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #testimonios-section > h2 {
    color: var(--blanco);
    margin: 0;
    text-align: center;
  }

  .testimonios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;
    padding: 9%;
  }

  .testimonio-card {
    position: relative;
    color: var(--lila-dark);
    background-color: var(--blanco);
    padding: 20px 30px;
    padding-bottom: 20px;
    border: 1px solid var(--violetaMid);
    border-radius: 9px;
    text-align: center;
    text-justify: inter-cluster;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 
      3px 12px 30px 1px var(--shadow-30),
      -3px 12px 30px 3px var(--blanco-30),
      -9px -9px 18px 1px inset var(--lila-70)
    ;
  }

  .quotation {
    transform: rotate(180deg);
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    top: 90px;
    left: 20px;
    font-size: 10rem;
    color: var(--lila);
    opacity: .1;
  }

  .card-text {
    font-weight: 300;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    letter-spacing: .02rem;
  }

  .card-name {
    font-weight: 600;
    font-size: .9rem;
  }

  #bio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  #bio-section h2 {
    text-align: center;
  }

  #bio__foto {
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 0 7px var(--lila);
    transition: all .3s ease-in-out;
  }

  /*
  .bio__foto--tilted {
    transform: scale(.8)
               translateY(-10px)
               perspective(200px)
               rotateX(10deg);
    opacity: .3;
  }

  .moveUp {
    animation: moveUp .7s ease forwards;
  }

  @keyframes moveUp {
    from {transform: translateY(50px);}
    to {transform: translateY(0px);}
  }

  #bio__avatar {
    position: absolute;
    top: 0;
    height: 36vh;
    opacity: 0;
    z-index: -10;
    transition: all .3s ease;
  }

  #bio__heart {
    position: absolute;
    top: 15vh;
    font-size: 40px;
    vertical-align: middle;
    line-height: 200px;
    opacity: 0;
    z-index: -10;
    transition: all .1s ease;
  }
  */
  #bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #pago-section {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--violeta);
  }

  #admision-text {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-top: 70%;
  }

  .downButton {
    text-decoration: none;
    position: relative;
    margin: 7% auto;
    padding: 5px 30px;
    border: 3px solid var(--rosa);
    border-radius: 9px;
    background-color: var(--rosaMid);
    font-size: 1.6em;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    color: var(--blanco);
    text-shadow: 0 0 7px var(--lila);
    text-shadow: 0 0 7px var(--lila);
  }

  footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--lila);
  }

  .footer-link {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
  }

  footer p {
    color: var(--blanco);
    font-family: 'Montserrat', sans;
    font-size: 1em;
    font-weight: 400;
  }

  /* DESKTOP */

  @media only screen and (min-width: 768px) {

    html::-webkit-scrollbar {
      display: none;
    }

    html {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    video {
    }
    
    #welcome-logo {
      position: absolute;
      top: 0;
      left: 10%;
      width: 65vw;
    }

    .upButton {
      position: absolute;
      top: 80%;
      left: 60%;
      font-size: 27px;
      transition: all .5s ease-in-out;
      width: 200px;
      height: auto;
      line-height: 36px;
      padding: 18px;
    }

    #info-section, #actividades-section, #incluye-section, #fecha-section, #pago-section, #presencial-section {
      padding: 2% 7%;
      margin: auto;
      padding-bottom: 70px;
    }

    #actividades-section, #incluye-section {
      padding-bottom: 70px;
    }

    .midButton, .downButton {
      transition: all .5s ease-in-out;
    }

    .midButton:hover, .downButton:hover {
      transform: scale(1.1);
      box-shadow: 0 0 12px var(--blanco);
      box-shadow: 0 0 18px var(--rosa);
    }

    .upButton:hover {
      transform: scale(1.1);
      box-shadow: 0 0 12px var(--blanco);
      box-shadow: 0 0 18px var(--lila);
    }

    .testimonios-container {
      flex-direction: row;
      padding: 5%;
    }

    .testimonio-card {
      padding: 30px 50px;
      padding-bottom: 20px;
    }

    #bio-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      margin: auto auto;
    }

    #bio-text-container {
      width: 50%;
      margin: 0;
    }

    #bio__foto {
      width: 30%;
      min-width: 300px;
      margin: 0;
    }

    #bio-section h2 {
      text-align: center;
    }

    #bio-section {
    margin-bottom: 70px;
    }

    #pago-section {
      margin: auto auto;
      padding-left: 25%;
      padding-right: 25%;
    }

    .downButton {
      margin: 30px auto;
    }

  } 
